/SlackBotMessages/bin/Debug
/SlackBotMessages/bin/Release
/SlackBotMessages/obj
/.vs
/packages
/SlackBotMessages.Tests/bin/Debug
/SlackBotMessages.Tests/obj/Debug
/*.nupkg
/.idea
/SlackBotMessages.Tests/obj
